#include "resource.h"
#include <windows.h>

IDD_BFC388TOOL_DIALOG DIALOGEX 0, 0, 620, 430
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BFC388 Face Tool"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "COM Port:", -1, 10,10, 50, 12
    COMBOBOX IDC_COMBO_PORT, 65,8, 110, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Baud:", -1, 180,10, 30,12
    COMBOBOX IDC_COMBO_BAUD, 215,8, 80, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Open", IDC_BTN_OPEN, 305,7, 50, 14
    PUSHBUTTON "Close", IDC_BTN_CLOSE, 360,7, 50, 14

    GROUPBOX "Operations", -1, 10,30, 240, 195
    LTEXT "User Name:", -1, 20,45, 60,12
    EDITTEXT IDC_EDIT_NAME, 80,43, 155, 14, ES_LEFT | WS_TABSTOP
    LTEXT "User ID:", -1, 20, 63, 60,12
    EDITTEXT IDC_EDIT_ID, 80, 61, 70, 14, ES_NUMBER | WS_TABSTOP
    CHECKBOX "Admin", IDC_CHECK_ADMIN, 160, 63, 50, 12

    PUSHBUTTON "Enroll (5-dir)", IDC_BTN_ENROLL5, 20,85, 100, 16
    PUSHBUTTON "Enroll (Single)", IDC_BTN_ENROLL_SINGLE, 125,85, 110, 16

    PUSHBUTTON "Verify Once", IDC_BTN_VERIFY, 20,105, 90, 16
    PUSHBUTTON "Verify Continuous", IDC_BTN_VERIFY_CONT, 115,105, 120,16
    PUSHBUTTON "Cancel", IDC_BTN_CANCEL, 20, 125, 80, 16

    PUSHBUTTON "Delete ID", IDC_BTN_DELID, 105,125, 80,16
    PUSHBUTTON "Delete All", IDC_BTN_DELALL, 190,125, 80,16

    PUSHBUTTON "List All IDs", IDC_BTN_LISTIDS, 20, 145, 100,16
    PUSHBUTTON "Snap Image", IDC_BTN_SNAP, 125, 145, 80,16

    PUSHBUTTON "Upload Template", IDC_BTN_UPLOAD_CHAR, 20, 165, 110, 16
    PUSHBUTTON "Download Template", IDC_BTN_DOWNLOAD_CHAR, 135, 165, 120,16

    GROUPBOX "Image", -1, 260,30, 350, 260
    CONTROL "", IDC_PICTURE, "Static", SS_BLACKRECT | SS_NOTIFY | WS_BORDER, 270, 45, 330, 240

    GROUPBOX "Log", -1, 10,230, 240, 180
    EDITTEXT IDC_EDIT_LOG, 20,245, 220, 160, ES_MULTILINE | ES_READONLY | WS_VSCROLL

END
